.dashboardContainer {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px 0;
  cursor: pointer;

  border-bottom: 1px solid #4a627a; 
}

/* This new rule removes the line from the last item */
.sidebar li:last-child {
  border-bottom: none;
}

.mainContent {
  flex-grow: 1;
  padding: 40px;
  background-color: #ecf0f1;
  color: #000;
}